header.main-header
    .main-header-top
        .container
            .sandwitch
                .sandwitch__line.sandwitch__line--top
                .sandwitch__line.sandwitch__line--middle
                .sandwitch__line.sandwitch__line--bottom

            ul.main-menu#js-main-menu
                li
                    a.active(href="index.html") Home
                li
                    a(href="#") Images
                    ul.sub-menu
                        li
                            a(href="image-zoom.html") Image zoom
                        li
                            a(href="3d-flip.html") 3d flip
                        li
                            a(href="#") Page 3
                li
<<<<<<< HEAD
                    a(href="") Gallery
                    ul.sub-menu
                        li
                            a(href="gallery-rotate.html") Gallery rotate
=======
                    a(href="#") Background
                    ul.sub-menu
                        li
                            a(href="cities.html") Cities
                li
                    a(href="") Menu
                    ul.sub-menu
                        li
                            a(href="fullscreen-menu.html") Fullscreen menu
>>>>>>> 14af30ac2c10c8367d2c3af4db809ee591b21edb
                li
                    a(href="#") 404
                    ul.sub-menu
                        li
                            a(href="page-404.html") Page 404
