header.main-header
    .main-header-top
        .container
            .sandwitch
                .sandwitch__line.sandwitch__line--top
                .sandwitch__line.sandwitch__line--middle
                .sandwitch__line.sandwitch__line--bottom

            ul.main-menu#js-main-menu
                li
                    a.active(href="#") Home
                li
                    a(href="#") Images
                    ul.sub-menu
                        li
                            a(href="image-zoom.html") Image zoom
                        li
                            a(href="3d-flip.html") 3d flip
                        li
                            a(href="#") Page 3
                li
                    a(href="") Gallery
                    ul.sub-menu
                        li
                            a(href="gallery-rotate.html") Gallery rotate
                li
                    a(href="#") 404
                    ul.sub-menu
                        li
                            a(href="page-404.html") Page 404
