extends template


block title
    title Fullscreen Menu

block content
    include ../includes/mixins
    .hidden
        include ../../../build/assets/i/svg/inline/sprite.svg

    include ../includes/header

    ul.fullscreen-menu#js-fullscreen-menu
        li.fullscreen-menu__item(data-fullscreen-menu="fullscreen-menu-1.jpg")
            .fullscreen-menu__content
                span.fullscreen-menu__title Главная
                i.fa.fa-home.fullscreen-menu__icon
        li.fullscreen-menu__item(data-fullscreen-menu="fullscreen-menu-2.jpg")
            .fullscreen-menu__content
                span.fullscreen-menu__title Блог
                i.fab.fa-wordpress.fullscreen-menu__icon
        li.fullscreen-menu__item(data-fullscreen-menu="fullscreen-menu-3.jpg")
            .fullscreen-menu__content
                span.fullscreen-menu__title Обо мне
                i.fas.fa-address-card.fullscreen-menu__icon
        li.fullscreen-menu__item(data-fullscreen-menu="fullscreen-menu-4.jpg")
            .fullscreen-menu__content
                span.fullscreen-menu__title Портфолио
                i.fas.fa-images.fullscreen-menu__icon
        li.fullscreen-menu__item(data-fullscreen-menu="fullscreen-menu-5.jpg")
            .fullscreen-menu__content
                span.fullscreen-menu__title Контакты
                i.fas.fa-file-signature.fullscreen-menu__icon

    include ../includes/scripts/ie-scripts

block scripts
    script(src="assets/libs/jquery-easy-scroll/jquery.easeScroll.js")
