@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/mixins';
@import '../libs/slick/slick/slick.scss';
// @import '../../../build/assets/i/svg/bg/css/sprite.css'

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 30px;
	color: #eee;
	background: #444;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	@include reset-list;
}

p {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
}
@import "blocks/sandwitch";
@import "blocks/menu";
.img-zoom {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 300px;
	overflow: hidden;
	cursor: pointer;
  	&:hover {
		img {
			transform: scale(1.2) rotate(-10deg);
			opacity: 1;
		}
	}
	img {
		width: 100%;
		opacity: .8;
		transition: all .5s;
	}
}

.flipcard {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 450px;
	perspective: 1000px;
	transform-style: preserve-3d;
	border-radius: 8px;
	cursor: pointer;
	&:hover .flipcard__front {
		transform: rotateY(-180deg);
	}
	&:hover .flipcard__back {
		transform: rotateY(0);
	}
	&__front {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../i/flipcard-front.jpg') center no-repeat;
		backface-visibility: hidden;
		background-size: cover;
		border-radius: 8px;
		transform-style: preserve-3d;
		overflow: hidden;
		z-index: 100;
		transition: all .6s ease;
		box-shadow: 0 0 8px rgba(0,0,0,.3);
	}
	&__back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../i/flipcard-back.jpg') center no-repeat;
		background-size: cover;
		backface-visibility: hidden;
		border-radius: 8px;
		transform: rotateY(180deg);
		transform-style: preserve-3d;
		overflow: hidden;
		z-index: 99;
		transition: all .6s ease;
		box-shadow: 0 0 8px rgba(0,0,0,.3);
	}
}

.city-wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
}

.city__bg {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
	background: url("../i/city/1.jpg") no-repeat center;
	background-size: cover;
	z-index: 2;
}

.city__title {
	font-family: 'Arial', sans-serif;
	font-size: 60px;
	text-transform: uppercase;
	color: #fff;
}

.city__overlay {
	position: relative;
	width: 2%;
	height: 100%;
	background: url("../i/city/2.jpg") no-repeat center;
	background-attachment: fixed;
	z-index: 3;
	transition: 1s ease;
}

.city__overlay:hover {
	transition: 0s ease;
	opacity: 0;
}
